NEXT_PUBLIC_API_BASE_URL=https://autonomousauditapi.canada-software.com.br/
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://autonomousaudit.canada-software.com.br

# Google Cloud Console (cliente OAuth):
# Origens JavaScript autorizadas: https://autonomousaudit.canada-software.com.br
# URIs de redirecionamento autorizados: https://autonomousaudit.canada-software.com.br/api/auth/callback/google
