bin/
obj/
.vs/
.idea/
[Ll]og/
[Ll]ogs/

*.user
*.suo
*.userosscache
*.sln.docstates
*.swp

.env
*.pfx
*.key
appsettings.*.local.json
appsettings.Development.json
k8s/postgres-secret.local.yaml
k8s/api-secret.local.yaml
secrets.json
INTEGRACOES-CANADA-SOFTWARE.md
.dropbox-token.tmp
.dropbox-oauth.json
dropbox_credentials.json

Thumbs.db
Desktop.ini
